<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog"
     aria-labelledby="addUserModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="addUserModalLabel">Add user</h4>
            </div>
            <form id="addUserForm" role="form" method="POST" action="/users/add"
                  enctype="multipart/form-data">
                <div class="modal-body">

                    <div id="addUserModalMessageContainer"></div>

                    <div class="form-group">
                        <label for="userNameInput" class="control-label">Name:</label>
                        <input type="text" class="form-control" id="userNameInput"
                               name="displayName">
                    </div>

                    <div class="form-group">
                        <label for="userCardIdInput" class="control-label">Card id:</label>

                        <div class="input-group">

                            <input type="text" class="form-control" id="userCardIdInput"
                                   name="cardId">
                            <span class="input-group-btn">
                                <a id="readFromCardReaderLink" class="btn btn-primary" href="#"
                                   data-toggle="tooltip" data-placement="top"
                                   title="Read from card reader">
                                    Read from card reader
                                </a>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="userPhotoInput" class="control-label">Photo:</label>
                        <input type="file" class="form-control" id="userPhotoInput" name="photo">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                    </button>
                    <input type="submit" class="btn btn-primary" value="Add user">
                </div>
            </form>
        </div>
    </div>
</div>