<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog"
     aria-labelledby="editUserModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="editUserModalLabel">Edit user</h4>
            </div>
            <form id="editUserForm" role="form" method="POST" action="/users/update"
                  enctype="multipart/form-data">
                <div class="modal-body">

                    <div id="editUserModalMessageContainer"></div>

                    <input id="editUserModalUserIdInput" name="id" type="hidden" value="">

                    <div class="form-group">
                        <label for="editUserModalUserNameInput" class="control-label">Name:</label>
                        <input type="text" class="form-control" id="editUserModalUserNameInput"
                               name="displayName">
                    </div>

                    <!--<div class="form-group">
                        <label for="editUserModalUserCardIdInput" class="control-label">Card
                            id:</label>
                        <input type="text" class="form-control" id="editUserModalUserCardIdInput"
                               name="cardId">
                    </div>-->

                    <div class="form-group">
                        <label for="editUserModalUserCardIdInput" class="control-label">Card id:</label>

                        <div class="input-group">

                            <input type="text" class="form-control" id="editUserModalUserCardIdInput"
                                   name="cardId">
                            <span class="input-group-btn">
                                <a id="editUserModalReadFromCardReaderLink" class="btn btn-primary" href="#"
                                   data-toggle="tooltip" data-placement="top"
                                   title="Read from card reader">
                                    Read from card reader
                                </a>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="editUserModalUserPhotoInput"
                               class="control-label">Photo:</label>
                        <input type="file" class="form-control" id="editUserModalUserPhotoInput"
                               name="photo">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                    </button>
                    <input type="submit" class="btn btn-primary" value="Save changes">
                </div>
            </form>
        </div>
    </div>
</div>