<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">RFID Security System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li{{#if activeLink.monitor}} class="active"{{/if}}>
                    <a href="/">
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        Monitor
                    </a>
                </li>
                <li{{#if activeLink.users}} class="active"{{/if}}>
                    <a href="/users">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        Users
                    </a>
                </li>
                <li{{#if activeLink.visits}} class="active"{{/if}}>
                    <a href="/visits">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        Visits
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        {{adminDisplayName}}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/change_password">
                                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                                Change password
                            </a>
                            <a href="/logout">
                                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                                Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
