<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head;
    any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>RFID Security System</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/theme.css" rel="stylesheet">

    <!-- jQuery dataTables -->
    <!--<link href="/css/jquery.dataTables.min.css" rel="stylesheet">-->
    <link href="/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="css/responsive.bootstrap.min.css" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/js/libraries/thirdparty/html5shiv.min.js"></script>
    <script src="/js/libraries/thirdparty/respond.min.js"></script>
    <![endif]-->
</head>

<body role="document">

{{#unless hideNavbar}}
    {{>navbar}}
{{/unless}}

<div class="container theme-showcase" role="main">
    {{#unless hideHeader}}
        {{>header}}
    {{/unless}}

    {{{body}}}
</div>
<!-- /container -->

<script src="/js/libraries/thirdparty/jquery-1.11.3.min.js"></script>
<script src="/js/libraries/thirdparty/bootstrap.min.js"></script>
<script src="/js/libraries/thirdparty/jquery.dataTables.min.js"></script>
<script src="/js/libraries/thirdparty/dataTables.bootstrap.min.js"></script>
<script src="js/libraries/thirdparty/dataTables.responsive.min.js"></script>
<script src="js/libraries/thirdparty/bootbox.min.js"></script>
<script src="js/libraries/thirdparty/bootstrap-notify.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
</script>

{{#each jsModules}}
    <script src="/js/{{this}}.js"></script>
{{/each}}

</body>
</html>
