<form id="jsChangePasswordForm" class="form-horizontal" role="form" action="/change_password"
      method="POST" enctype="multipart/form-data">

    <div id="jsMessageContainer"></div>

    <!-- Old password input !-->
    <div class="form-group">
        <label for="oldPasswordInput" class="control-label col-xs-12 col-sm-4">Old password:</label>

        <div class="col-xs-12 col-sm-6 col-md-5">
            <input type="password" class="form-control" id="oldPasswordInput" name="oldPassword"
                   placeholder="Old password">
        </div>
    </div>

    <!-- New password input !-->
    <div class="form-group">
        <label for="newPasswordInput" class="control-label col-xs-12 col-sm-4">New password:</label>

        <div class="col-xs-12 col-sm-6 col-md-5">
            <input type="password" class="form-control" id="newPasswordInput" name="newPassword"
                   placeholder="New password">
        </div>
    </div>

    <!-- Confirm password input !-->
    <div class="form-group">
        <label for="confirmPasswordInput" class="control-label col-xs-12 col-sm-4">Confirm
            password:</label>

        <div class="col-xs-12 col-sm-6 col-md-5">
            <input type="password" class="form-control" id="confirmPasswordInput"
                   name="passwordConfirm" placeholder="Confirm password">
        </div>
    </div>

    <!-- Submit button !-->
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">

            <button type="submit" class="btn btn-primary">
                Change
            </button>
        </div>
    </div>

</form>