<p id="noVisitsSoFarCaption" {{#if recentVisit}}class="hidden"{{/if}}>
    No visits has been made so far.
</p>

<div class="row">
    <div class="col-sm-3 col-lg-4">
        <div id="recentVisitPanel"
             class="panel panel-default{{#unless recentVisit}} hidden{{/unless}}"
             data-visit-id="{{#if recentVisit}}{{recentVisit.id}}{{/if}}"
             data-user-id="{{#if recentVisit}}{{#if recentVisit.user}}{{recentVisit.user.id}}{{/if}}{{/if}}"
             data-timestamp="{{#if recentVisit}}{{recentVisit.timestamp}}{{/if}}">
            <div class="panel-body">
                <img id="resentVisitUserPhoto" src="{{#if recentVisit.user.hasPhoto}}
                    /images/photos/user_{{recentVisit.user.id}}.jpg
                    {{else}}
                    /images/user_default.png
                {{/if}}" class="thumbnail" alt="..." style="width: 100%">

                <p class="text-center">
                    <span id="resentVisitUserName">
                        {{#if recentVisit}}
                            {{#if recentVisit.user}}
                                {{recentVisit.user.displayName}}
                            {{else}}
                                [USER REMOVED]
                            {{/if}}
                        {{/if}}
                    </span>
                </p>

                <p class="text-center">
                    Card id:
                    <span id="resentVisitUserCardId">
                        {{#if recentVisit}}
                            {{#if recentVisit.user}}
                                {{recentVisit.user.cardId}}
                            {{else}}
                                [USER REMOVED]
                            {{/if}}
                        {{/if}}
                    </span>
                </p>

                <p class="text-center">
                    Time:
                    <span id="resentVisitTime">
                        {{#if recentVisit}}
                            {{recentVisit.timestamp}}
                        {{/if}}
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div id="visits" class="col-sm-9 col-sm-8">
        {{#each visits}}
            <div class="panel panel-default" style="padding: 5px; margin-bottom: 5px;">
                <div class="panel-body" style="padding: 5px;">
                    <div class="row">
                        <div class="col-sm-2" style="padding-left: 20px; padding-right: 20px;">
                            <img src="{{#if user.hasPhoto}}
                    /images/photos/user_{{user.id}}.jpg
                    {{else}}
                    /images/user_default.png
                {{/if}}" class="thumbnail" alt="..."
                                 style="width: 100%; margin-bottom: 0;">
                        </div>
                        <div class="col-sm-10">
                            <p class="text-center">
                                {{#if user}}
                                    {{user.displayName}}
                                {{else}}
                                    [USER REMOVED]
                                {{/if}}
                            </p>

                            <p class="text-center">
                                Card id: {{#if user}}
                                {{user.cardId}}
                            {{else}}
                                [USER REMOVED]
                            {{/if}}
                            </p>

                            <p class="text-center">
                                Time: <span class="timestamp">{{timestamp}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>


