<form class="form-inline" role="form">
    <div class="form-group pull-right">
        <a id="addUserButton" class="btn btn-primary" href="#">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add user
        </a>
    </div>
</form>

<br/>
<br/>

<table id="dataTable" class="table table-striped table-bordered table-hover dt-responsive nowrap"
       cellspacing="0" width="100%">
    <thead>
    <tr>
        <th class="text-center">Id</th>
        <th class="text-center">Display name</th>
        <th class="text-center">Card id</th>
        <th class="text-center"></th>
    </tr>
    </thead>
    <tbody></tbody>
</table>

{{>addUserModal}}
{{>editUserModal}}
