<table id="dataTable" class="table table-striped table-bordered table-hover dt-responsive nowrap"
       cellspacing="0" width="100%">
    <thead>
    <tr>
        <th class="text-center">Id</th>
        <th class="text-center">Time</th>
        <th class="text-center">User name</th>
        <th class="text-center">User card id</th>
    </tr>
    </thead>
    <tbody></tbody>
</table>